<table class="triple-border">
  <tr>
    <th>Key</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>F1</td>
    <td>Help window</td>
  </tr>
  <tr>
    <td>F2</td>
    <td>Editor window</td>
  </tr>
  <tr>
    <td>TAB</td>
    <td>Switch between inventory, equipment and BoB tabs</td>
  </tr>
  <tr>
    <td>drag + CTRL</td>
    <td>Clone item slot to another tab or slot</td>
  </tr>
  <tr>
    <td>drag</td>
    <td>Move item to another slot, tab, inventory or BoB</td>
  </tr>
  <tr>
    <td>DELETE</td>
    <td>Remove item placeholder</td>
  </tr>
  <tr>
    <td>BACKSPACE</td>
    <td>Deposit whole inventory, equipment or BoB</td>
  </tr>
  <tr>
    <td>any letter</td>
    <td>Initiate search</td>
  </tr>
  <tr>
    <td>ESC</td>
    <td>Clear search</td>
  </tr>
  <tr>
    <td>-</td>
    <td>Withdraw one item on which mouse is hovering</td>
  </tr>
  <tr>
    <td>+</td>
    <td>Deposit one item on which mouse is on</td>
  </tr>
  <tr>
    <td>click</td>
    <td>Withdraw/Deposit/Equip one</td>
  </tr>
  <tr>
    <td>click + ALT</td>
    <td>Inverted Withdraw/Deposit/Equip one</td>
  </tr>
  <tr>
    <td>click + SHIFT</td>
    <td>Withdraw/Deposit/Equip ALL</td>
  </tr>
  <tr>
    <td>click + ALT + SHIFT</td>
    <td>Inverted Withdraw/Deposit/Equip ALL</td>
  </tr>
  <tr>
    <td>any number</td>
    <td>Withdraw/Deposit X item on which mouse is on, where X is the number you type</td>
  </tr>
  <tr>
    <td>click + CTRL</td>
    <td>If clicked on equipment slot it will search for items that can be put in that slot</td>
  </tr>
</table>